body{
  background-color: black;
  font-family: verdana;
}
a, h1, p{
  text-align: center;
}
h1{
  font-size: 50px;
  color:white;
}
p{
  font-size: 21px;
  color:gray;
}
a{
  display:block;
  font-size: 16px;
  color:aquamarine;
}
img,video{
  display: block;
    margin: auto;
}

.footer p{
  text-align:right;
  padding-right: 30px;
}
